# ambientes virtuais
.venv/
.env/
env/
venv/

# arquivos de instalação
*.egg-info/
dist/
build/
# arquivos de cache
__pycache__/

:arquivos de dados
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg

# arquivos de saída
output/